<div class="container homepage text-center">
  <h1 class="fadeIn">Hi, I'm Aminul Islam</h1>
  <h3 class="fadeIn">Web Developer | Problem Solver</h3>
  <p class="fadeIn">Welcome to my personal portfolio. Explore my skills, projects, and contact details.</p>

  <a routerLink="/about-me" class="btn btn-primary fadeIn me-2">
    Learn more about me →
  </a>

  <!-- Now pointing at public/cv -->
  <a href="/assets/cv/Aminul Islam.pdf" target="_blank" class="btn btn-outline-secondary fadeIn">
    View My CV
  </a>

</div>
