<!-- app.component.html -->
<div class="app-wrapper d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 sticky-top">
    <a class="navbar-brand" routerLink="/myportfolio">My Portfolio</a>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about-me">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div class="flex-fill container mt-4">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-dark text-light py-3">
    <app-footer></app-footer>
  </footer>
</div>
